@model DotnetExam.Models.Song

@{
    ViewData["Title"] = "Details for this song";
}

<h1>Details</h1>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.artist.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.artist.Name)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.albums)
        </dt>


@foreach (var album in Model.albums)
    {
        <div class=row>
            <div class="col-md-4">
                <div>
                    @album.Name
                    <br>
                </div>
            </div>
        </div>
    }


        <dt class="col-sm-2" >
        @Html.DisplayNameFor(model => model.comments)
        </dt>

    

    @foreach (var comment in Model.comments)
    {
        <div class= row>
        <div class="col-md-4">
            <div>
                @comment.user.Email
            </div>
            <div>
                @comment.Text
            </div>
        </div>
        </div>
    }

</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

</div>
</dl>